.modal.fade{:role => "dialog", :tabindex => "-1", :id => "login_modal"}
  .modal-dialog.modal-sm{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4.modal-title
          %center
            Customer Email
      .modal-body
        %center
          %img#profile-img.profile-img-card{:src => "/avatar.png"}/
        %br/
        = form_for(:customer, url: customers_path) do |f|
          .form-group
            = f.email_field :email, placeholder: 'Email address', class: 'form-control', autofocus: true
            %br
            %center
              = f.submit "Go Ahead", class: 'btn btn-primary btn-signin'
