%table.table.table-striped.table-responsive
  %thead
    %tr
      %th #
      %th Promocode
      - if !final_order
        %th Action
  %tbody
    - @applied_promos.each_with_index do |promo, index|
      %tr
        %td= index + 1
        %td= promo.name
        - if !final_order
          %td
            = link_to 'Remove', remove_promocode_path(id: current_order.id, promocode_id: promo.id), method: :put, class: "btn btn-danger btn-xs"