<h2 style="margin: 25px">Our Catalogue</h2>

<ul class="products">
  <% for product in @products %>
    <li>
      <div class="img"></div>
      <h4>
        <%= link_to product.name, '#' %>
      </h4>
      <p class="info">
        <%= truncate product.description, :length => 90 %>
      </p>
      <p class="price">
        <%= number_to_currency product.price, { :unit => "£"} %>
      </p>
    </li>
  <% end %>
</ul>
